*.iml
target/
out/
/.idea/*
/.project
/.settings
/.classpath
/.idea

/common/target/
/common/.project
/common/.gitignore
/common/.settings
/common/.classpath

/dao/target/
/dao/.project
/dao/.gitignore
/dao/.settings
/dao/.classpath

/domain/target/
/domain/.project
/domain/.gitignore
/domain/.settings
/domain/.classpath

/service/target/
/service/.project
/service/.gitignore
/service/.settings
/service/.classpath

/web/target/
/web/.project
/web/.gitignore
/web/.settings
/web/.classpath