<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

	<!-- <property name="outPattern" value="[%p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t][%c{0}] [%C:%L] - %m %n" /> -->
	<!-- 缩短日志格式 -->
	<property name="outPattern" value="[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C{0}:%L] - %m%n" />
	<!-- 文件历史数 -->
	<property name="maxHistory" value="30" />
	<!-- logback -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${outPattern}</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<file>${dynamic.log.path}/controller.log</file>
		<prudent>false</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${dynamic.log.path}/controller.log.%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>${maxHistory}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${outPattern}</pattern>
		</encoder>
	</appender>

	<logger name="com.oneday" additivity="false">
		<level value="debug" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<!-- 日志级别 -->
	<root level="${log.level}">
		<level value="error" />
		<level value="info" />
		<if condition='"${devMode}".equals("true")'>
			<then>
				<appender-ref ref="CONSOLE" />
			</then>
		</if>
		<appender-ref ref="FILE" />
	</root>
</configuration>